@import "../../../../vue/root/vars";

.n-datatable {
    display: flex;
    flex-direction: column;
}

.n-datatable__header {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

.n-datatable__body {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
}

.n-datatable__footer {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px;
}

.n-datatable__toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-datatable__toolbar > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.n-datatable__toolbar > div:first-child {
    padding-left: 0;
}

.n-datatable__toolbar > div:last-child {
    padding-right: 0;
}

.n-datatable__toolbar-spacer {
    flex: 1 1 auto !important;
}

.n-datatable__toolbar-search {
    max-width: 280px;
}

.n-datatable .n-table__column--actions {
    display: flex;
    align-items: center;
}

.n-datatable .n-table__column--actions > div {
    margin: 0 auto;
}
