@import "../../../../vue/root/vars";

.n-datatree {
    display: flex;
    flex-direction: column;
}

.n-datatree__header {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

.n-datatree__body {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: scroll;
}

.n-datatree__footer {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px;
}

.n-datatree__toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-datatree__toolbar > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.n-datatree__toolbar > div:first-child {
    padding-left: 0;
}

.n-datatree__toolbar > div:last-child {
    padding-right: 0;
}

.n-datatree__toolbar-spacer {
    flex: 1 1 auto !important;
}

.n-datatree__toolbar-search {
    flex: 1 1 auto !important;
    min-width: 0;
}
