@import "../../../root/vars";

.n-table__cell {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.n-table__cell > span {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-table__cell.n-table__cell--image > span {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.n-table__cell.n-table__cell--image > span:before {
    content: '\00a0';
    display: block;
    height: 0;
    padding-bottom: 100%;
}