@import "../../../root/vars";

$datepicker-display-size: 15px !default;
$datepicker-day-width: 35px !default;

.n-datepicker__wrapper .n-popover {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    max-width: 100% !important;
}

.n-datepicker__legend {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid $--color-gray-10;
}

.n-datepicker__display {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $datepicker-display-size;
}

.n-datepicker__month {
    padding: 0 2px 0 7px;
}

.n-datepicker__year {
    font-weight: bold;
    padding: 0 7px 0 2px;
}

.n-datepicker__header {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 0;
}

.n-datepicker__header .n-datepicker__day {
    flex: 0 0 auto;
    padding: 2px;
}

.n-datepicker__header .n-datepicker__day span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $datepicker-day-width;
    height: $datepicker-day-width;
    font-weight: bold;
}

.n-datepicker__body {
    padding: 0 10px 10px;
}

.n-datepicker__week {
    display: flex;
    flex-direction: row;
}

.n-datepicker__week .n-datepicker__day {
    cursor: pointer;
    flex: 0 0 auto;
    padding: 2px;
}

.n-datepicker__week .n-datepicker__day span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $datepicker-day-width;
    height: $datepicker-day-width;
    border-radius: 500px;
    color: $--color-gray-50;
}

.n-datepicker__week .n-datepicker__day:hover span {
    background: $--color-background;
}

.n-datepicker__week .n-datepicker__day.n-datepicker__day--current span {
    color: $--color-black;
}

.n-datepicker__week .n-datepicker__day.n-datepicker__day--today span {
    background: rgba($color-primary, 0.15);
}

.n-datepicker__week .n-datepicker__day.n-datepicker__day--selected span {
    color: $--color-white;
    background: $--color-primary;
}